<h2 ng-if="!id || id == 'new'">Create</h2>
<h2 ng-if="id && id != 'new'">Edit</h2>

<form class="form-horizontal" ng-submit="submit(teacher)">
    <h4 ng-if="!id || id == 'new'">Create a new teacher</h4>
    <h4 ng-if="id && id != 'new'">Edit teacher</h4>

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="teacher.Name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Birthday</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="teacher.Birthday" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Salary</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="teacher.Salary" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Submit" />
            <a href="#/courses" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>